.form {
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 10px 0;

  .formHeader {
    display: flex;
    justify-content: space-between;
    width: 100%;

    .replyIcon {
      margin: 0 5px;
      transform: scaleX(-1);
      opacity: 0.5;
    }

    & :first-child {
      display: flex
    }
  }

  .input {
    margin-top: 5px;
    width: 500px;
  }

  .btnContainer {
    margin-top: 20px;
    display: flex;
    justify-content: flex-end;

    :last-child {
      margin-left: 10px;
    }
  }
}