.root {
  padding: 10px 20px;
  display: flex;
  justify-content: space-between;

  .formContainer {
    display: flex;
    flex-direction: column;
    height: 550px;
    justify-content: space-between;
  }

  .lessonsContainer {
    display: flex;
    flex-direction: column;
    width: 500px;
  }
}